# --- Example env file ---
# Fields with blank values are required.
# Fields with non-blank values will have the indicated default values unless provided explicitly.

ENV="dev"                   # Application environment (can be "dev" or "prod"), it is recommended to set it in Cloud/CI/CD secrets

# App settings
APP__HOST="0.0.0.0"         # Application host
APP__PORT="8080"            # Application port
APP__TITLE="Books API"      # Application title (for docs)
APP__DISABLE_SWAGGER="0"    # Whether to disable Swagger docs
APP__DISABLE_REDOC="1"      # Whether to disable Redoc docs
APP__LATEST_V1="1.0.0"      # Latest version of V1 API (for updating minor and patch versions)
APP__JWT_SECRET=""          # JWT secret (easiest way to generate one is `openssl rand -hex 16`)
APP__JWT_EXP_MINUTES="60"   # JWT token lifetime in minutes
APP__JWT_ALGO="HS256"       # JWT algorithm

# Database settings
DB__HOST="postgres"         # Database host
DB__PORT="5432"             # Database port
DB__NAME="app"              # Database name
DB__USERNAME=""             # Database username (you may use `dbuser` for local setup)
DB__PASSWORD=""             # Database password (you may use `password` for local setup)
